{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/blog-excerpt.html" import render_blog_post_excerpt %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}Pediatrician and a Forensic Expert. A passionate PHP geek. Currently CTO, SANIsoft. Also a photographer, bird watcher, nature lover and a FOSS enthusiast.{% endblock %}
{% block body %}
  {% for child in this.pagination.items %}
  	{% if loop.index == 1 %}
    	{{ render_blog_post(child, from_index=true) }}
    {% else %}
    	{{ render_blog_post_excerpt(child) }}
    {% endif %}
  {% endfor %}
  {{ render_pagination(this.pagination) }}
{% endblock %}
